body {
  color: rgba(0,0,0,0.7);
}

a {
  text-decoration: none; 
}

.solid-deco {
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: -2px -2px 5px rgba(255,255,255,1),
              3px 3px 5px rgba(0,0,0,.07);
}

.form-deco {
  border-radius: 5px;
  border-color: #f8f9fa;
  background-color: #f8f9fa;
  box-shadow: inset 3px 3px 2px #e2e3e4,
              inset -3px -3px 2px #fdfdfd;
}

.btn-deco {
  background-color: #fdfdfd;
  box-shadow: -2px -2px 5px rgba(255,255,255,1),
              3px 3px 5px rgba(0,0,0,.07);
}

.btn{
  color: rgba(0,0,0,0.7);
  font-weight: bold;
}

.confirm-btn {
  box-shadow: -2px -2px 5px rgba(255,255,255,1),
              3px 3px 5px rgba(0,0,0,.07);
}

.material-icons {
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-60 { font-size: 60px; }
}
