@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    url(../fonts/MaterialIconsRound-Regular.otf);
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  color: rgba(0,0,0,0.7);
}

a {
  text-decoration: none; 
}

.solid-deco {
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: -2px -2px 5px rgba(255,255,255,1),
              3px 3px 5px rgba(0,0,0,.07);
}

.form-deco {
  border-radius: 5px;
  border-color: #f8f9fa;
  background-color: #f8f9fa;
  box-shadow: inset 3px 3px 2px #e2e3e4,
              inset -3px -3px 2px #fdfdfd;
}

.btn-deco {
  background-color: #fdfdfd;
  box-shadow: -2px -2px 5px rgba(255,255,255,1),
              3px 3px 5px rgba(0,0,0,.07);
}

.btn{
  color: rgba(0,0,0,0.7);
  font-weight: bold;
}

.confirm-btn {
  box-shadow: -2px -2px 5px rgba(255,255,255,1),
              3px 3px 5px rgba(0,0,0,.07);
}

.material-icons {
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-60 { font-size: 60px; }
  &.md-96 { font-size: 96px; }
}

.img_preview img{
  width: 50%;
}

.show-img img{
  width: 50%;
}

.img-zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1060;
}

.bigimg {
  position: absolute;
  width: 80%;
  max-width: 800px;
  top: 80px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.bigimg img{
  width: 80%;
  height: 80%;
}

#icon_big {
  width: 96px;
  height: 96px;
  object-fit: cover;
}
